# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [27]:
# Your code goes here
import pandas as pd

In [28]:
file1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
file2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [29]:
file1.columns = file1.columns.str.lower().str.strip()
file2.columns = file2.columns.str.lower().str.strip()
file3.columns = file3.columns.str.lower().str.strip()

In [30]:

file2.rename(columns={"customer": "customer_id"}, inplace=True)
file3.rename(columns={"Customer": "customer_id"}, inplace=True)

In [31]:
print(data.columns)

Index(['customer_id', 'state', 'gender', 'education',
       'customer lifetime value', 'income', 'monthly premium auto',
       'number of open complaints', 'policy type', 'vehicle class',
       'total claim amount'],
      dtype='object')

In [32]:
file2.rename(columns={
    'customer': 'customer_id',
    'st': 'state'
}, inplace=True)

# Standardize column names in file3
file3.rename(columns={
    'customer': 'customer_id',
    'st': 'state'
}, inplace=True)

In [33]:
print("File1 columns:", list(file1.columns))
print("File2 columns:", list(file2.columns))
print("File3 columns:", list(file3.columns))

File1 columns: ['customer', 'st', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto', 'number of open complaints', 'policy type', 'vehicle class', 'total claim amount']
File2 columns: ['customer_id', 'state', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto', 'number of open complaints', 'total claim amount', 'policy type', 'vehicle class']
File3 columns: ['customer_id', 'state', 'customer lifetime value', 'education', 'gender', 'income', 'monthly premium auto', 'number of open complaints', 'policy type', 'total claim amount', 'vehicle class']

In [34]:
file1.rename(columns={
    'customer': 'customer_id',
    'st': 'state'
}, inplace=True)

In [35]:
print("File1 columns:", list(file1.columns))
print("File2 columns:", list(file2.columns))
print("File3 columns:", list(file3.columns))

File1 columns: ['customer_id', 'state', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto', 'number of open complaints', 'policy type', 'vehicle class', 'total claim amount']
File2 columns: ['customer_id', 'state', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto', 'number of open complaints', 'total claim amount', 'policy type', 'vehicle class']
File3 columns: ['customer_id', 'state', 'customer lifetime value', 'education', 'gender', 'income', 'monthly premium auto', 'number of open complaints', 'policy type', 'total claim amount', 'vehicle class']

In [39]:
data = pd.concat([file1, file2, file3], axis=0, ignore_index=True)

In [40]:
print(data.info())
print(data.isnull().sum())
print(data.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB
None
customer_id                  2937
state                        2937
gender                       3059
education                    2937
customer lifetime value      2944
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64
2939

In [42]:
data.drop_duplicates(inplace=True)
print(f"Data shape after dropping duplicates: {data.shape}")

Data shape after dropping duplicates: (9135, 11)

In [43]:
data['gender'].fillna('Unknown', inplace=True)

C:\Users\pedro\AppData\Local\Temp\ipykernel_34388\2185318324.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['gender'].fillna('Unknown', inplace=True)

In [44]:
data['customer lifetime value'] = pd.to_numeric(
    data['customer lifetime value'], errors='coerce'
)

# Fill missing with median
data['customer lifetime value'].fillna(
    data['customer lifetime value'].median(), inplace=True
)

C:\Users\pedro\AppData\Local\Temp\ipykernel_34388\557595746.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['customer lifetime value'].fillna(

In [45]:
print(data.isnull().sum())

customer_id                  1
state                        1
gender                       0
education                    1
customer lifetime value      0
income                       1
monthly premium auto         1
number of open complaints    1
policy type                  1
vehicle class                1
total claim amount           1
dtype: int64

In [46]:
print(data.dtypes)

customer_id                   object
state                         object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [47]:
print(data['number of open complaints'].unique())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan 0 2 3 1 5 4]

In [48]:
data['number of open complaints'] = data['number of open complaints'].astype(str).str.extract(r'(\d)').astype(float)

In [49]:
print(data.dtypes)

customer_id                   object
state                         object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints    float64
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [50]:
data['number of open complaints'] = data['number of open complaints'].astype(str)

# Extract the first number (e.g., '1' from '1/2/00')
data['number of open complaints'] = data['number of open complaints'].str.extract(r'^(\d)').astype(float)

# Fill NaNs with 0, then convert to int
data['number of open complaints'] = data['number of open complaints'].fillna(0).astype(int)

In [51]:
print(data['number of open complaints'].unique())
print(data.dtypes)

[1 0 2 3 5 4]
customer_id                   object
state                         object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints      int32
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [52]:
# Your code goes here

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [53]:
print(df.shape)          
print(df.columns)        
print(df.info())         
print(df.head(3))

(10910, 27)
Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None
   unnamed:_0 customer       state  customer_lifetime_value response coverage  \
0           0  DK49336     Arizona              4809.216960       No    Basic
1           1  KX64629  California              2228.525238       No    Basic
2           2  LZ68649  Washington             14947.917300       No    Basic

  education effective_to_date employmentstatus gender  ...  \
0   College        2011-02-18         Employed      M  ...
1   College        2011-01-18       Unemployed      F  ...
2  Bachelor        2011-02-10         Employed      M  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2

[3 rows x 27 columns]

In [54]:
print("Duplicates:", df.duplicated().sum())
print("Null values:\n", df.isnull().sum())

Duplicates: 0
Null values:
 unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [55]:
print(df.dtypes)

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [57]:
print(df['sales_channel'].unique())

['Agent' 'Call Center' 'Branch' 'Web']

In [ ]:
#1

In [56]:
pivot_table = pd.pivot_table(
    df,
    values='total_claim_amount',     # Replace with revenue column if different
    index='sales_channel',
    aggfunc='sum'
)

# Round the values to 2 decimals
pivot_table = pivot_table.round(2)

print(pivot_table)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [ ]:
# Call center and web channels have significant less amount sold than the other channels that are more personal which can explain the difference.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [58]:
pivot_clv = pd.pivot_table(
    df,
    values='customer_lifetime_value',
    index='gender',
    columns='education',
    aggfunc='mean'
).round(2)

print(pivot_clv)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

In [ ]:
# Gender doesnÂ´t make a significant difference in lifetime value, in general the highest is the education the highest is the value, probably due to a bigger income of this customers

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here